.content-top {
	margin-top: 20px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.content-top .header {
	
}

.content-top  .site-logo {
	width: 150px
}

.content-top .header h1 {
	width: 100px;
}

.content-top .header .option-bar {
	
}

.content-top .header .action-btn {
	margin-right: 10px;
	float: right;
}

.content-left {
	max-height: 500px;
	width: 300px;
}

.content-main {
	max-height: 500px;
}

.content-main .nav-bar {
	margin-bottom: 2px;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 8px 15px;
}

.content-main .content-area {
	background-image: url("../images/wood_pattern.jpg");
	height: 55 0px;
}

.content-main .nav-bar-title {
	clear: both;
}

.content-main .nav-bar-title img {
	width: 30px;
	height: 30px;
	float: right;
}

.content-main .filter-nav-bar {
	width: 20%;
	float: right;
	clear: both;
}

.control-group .btn-icon {
	width: 30px;
	height: 30px;
	padding: 0px;
}